{
  "plugins": [
    [
      "@emotion",
      {
        // sourceMap is on by default but source maps are dead code eliminated in production
        "sourceMap": true,
        "autoLabel": "always",
        "labelFormat": "[filename]",
        "cssPropOptimization": true
      }
    ],
    "@babel/plugin-proposal-decorators"
  ]
}