<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713367621324-o637e9l76ef935in2kbnci09lpeptc8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713367621324-o637e9l76ef935in2kbnci09lpeptc8m</string>
	<key>API_KEY</key>
	<string>AIzaSyCX9ZvEonKIIRgid9XVXVXs4EWgv9Ci06Q</string>
	<key>GCM_SENDER_ID</key>
	<string>713367621324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tmmoond8.picar</string>
	<key>PROJECT_ID</key>
	<string>picar-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>picar-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713367621324:ios:d6ca2531c54cdc993dfc69</string>
	<key>DATABASE_URL</key>
	<string>https://picar-dev-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>